<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weexdemo">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="icon, label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:hardwareAccelerated="true">
        </activity>
        <meta-data
            android:name="com.example.CustomOkHttpGlideModule"
            android:value="GlideModule" />

        <activity android:name=".GlideDemoActivity"></activity>
        <activity android:name=".WeexModuleActivity"></activity>
        <activity android:name=".AnimationActivity"></activity>
        <activity android:name=".CrossfadeActivity"></activity>
        <activity android:name=".CardFlipActivity"></activity>
        <activity android:name=".FlingMoveActivity"></activity>
        <activity android:name=".ZoomActivity"></activity>
        <activity android:name=".SpringActivity"></activity>
    </application>

</manifest>